* { box-sizing: border-box;
    margin: 0;
}

body {font-family: Verdana, Arial, sans-serif;
}
 
#wrapper { background-color:  #d14d2c; 
}

header { color: #d14d2c; 
        background-color: #F7F5EE;
        padding: .5em 0 .5em 2.5em;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.icon-container {
    display: inline-flex; /* Display the container inline */
    align-items: center; /* Vertically center the contents */
}

.icon {
    margin-right: 5px; /* Add spacing between the icon and text */
}

.icon-container{
    text-align: right;
    justify-content: right;
}

h2{
    padding: .5em 0 .5em 0.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

/*main styling*/
main {   background-color: #F7F5EE;
         color: #d14d2c;
	     padding: 1em; 
}

main p{
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

main a{
    color: #ec6a6a;
    text-decoration: none;
}

/*footer styling*/
footer {  background-color: #d14d2c;
         font-size:80%;
         text-align: center;
         padding: 2em 0;
         color: #F7F5EE;
         font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer a{ color: #ec6a6a;
}





